
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  text-align: center;
}

.main-section {
  background-image: url("http://www.siue.edu/~mhallor/madisonrobertsphotography1/background.png");
  text-align: center;
  margin-top: 200px;
  font-family: sans-serif;
}

#header-title {
  font-size: 40px;
}

#date {
  font-size: 40px;
  margin-top: 30px;
}

#hours {
  font-size: 40px;
  margin-top: 30px;
}

#minutes {
  font-size: 40px;
  margin-top: 30px;
}

#seconds {
  font-size: 40px;
  margin-top: 30px;
}

#mornOrNight {
  font-size: 40px;
  margin-top: 30px;
}

.colon {
  font-size: 40px;
  margin-top: 30px;
}

#month {
  font-size: 40px;
  margin-top: 30px;
}

#day {
  font-size: 40px;
  margin-top: 30px;
}

#year {
  font-size: 40px;
  margin-top: 30px;
}

.slash {
  font-size: 40px;
  margin-top: 30px;
}

.block {
  margin-top: 30px;
}
