.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.main-section {
  background: black;
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}
#time,
#mornOrNight,
#weekDay,
#date
 {
  font-size: 80px;
  margin-top: 10px;
  color: blue;
}
